.searchContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 50px;
  padding-bottom: 60px
}

.searchHeader {
  display: flex;
  justify-content: center;
  margin: 20px
}

.searchBox {
  display: flex;
  justify-content: center
}

.ui {
  font-size: large;
  font-weight: bolder
}