.populatorContainer {
  display: flex;
  justify-content: center;
  margin: 20px
}



/* Need to put button group in a div first */
/* .buttonGroup {
  display: flex;
  justify-content: center
} */