
h3 {
  font-family: 'Permanent Marker', cursive !important;
  font-weight: 600;
  font-size: x-large !important;
}

.playerInfo {

  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  width: 100%;
  text-align: center
}

.playerNote {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline
}

.playerNoteContent {
  margin-bottom: 20px
}

.playerCard {
  border: 5px solid #d6850a;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center; 
  font-family: 'Staatliches', cursive;
  font-size: large;
  /* position: relative; */
  overflow: hidden;
  border-radius: 20px;
  margin: 10px;
  min-width: 230px; 
  max-width: 1100px; 
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  
}

.playerCard * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.playerCard img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  border-radius: 50%;
  background-color: #fc7a01e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}